<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.gesila.TestGuardProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.joy.post.flanker.project.nature.GesilaTestGuardProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
