<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.keliangtek.simulab.activity"
            name="PostFlanker Activity">
         <enabledWhen>
            <not>
               <or>
                  <with
                        variable="activePartId">
                     <equals
                           value="com.keliangtek.simulab.target.ui.views.SimulabTargetView">
                     </equals>
                  </with>
               </or>
            </not>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity"
            pattern="org.eclipse.debug.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity"
            pattern="org.eclipse.compare.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity"
            pattern="org.eclipse.wst.*">
      </activityPatternBinding>
      <activity
            id="com.keliangtek.simulab.activity.navigator"
            name="PostFlanker Activity Navigator">
      </activity>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.navigator"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.navigator"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ResourceNavigator">
      </activityPatternBinding>
      <activity
            id="com.keliangtek.simulab.activity.wizards"
            name="Simulab Wizard">
      </activity>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.project">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.folder">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.file">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.file">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.keliangtek.simulab.activity.wizards"
            isEqualityPattern="false"
            pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard">
      </activityPatternBinding>
   </extension>
</plugin>
